tp@EcomVM:~/Téléchargements/Ansible-main$ cat a.yml
---
- name: IP
  hosts: debian
  become: yes
  gather_facts: no
  connection: local
  vars:
    ansible_connection: network_cli
    ansible_network_os: vyos  # Replace with your actual network OS
  vars_files:
    - credentials.yml
  tasks:
    - name: Afficher les informations IP
      shell: | 
        ip a
        cat /etc/network/interfaces
      register: ip_result


    - name: Afficher le résultat par machine
      debug:
        var: ip_result.stdout
    
